# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.pylint.d/config1.stats
.pylint.d/root1.stats
.pylint.d/tab_audio_functions1.stats
archive/audio_buttons.py
archive/audio_visualiser.py
archive/helper_functions.py
archive/interface (2021-04-11).py
archive/interface (2021-04-20).py
archive/interface.py
archive/pr_tab_tagging.py
archive/prGetCurrentTagsFromFilename.py
archive/prOpenTagDecisionWindowWithFilename.py
archive/prSuggestTagsFromFilename.py
archive/pyPadImageWithTransparency.py
archive/root.py
archive/root_undo.py
archive/temp.py
archive/tkCreateListFromDirectory.py
archive/tkCreateListFromFileTags.py
archive/tkCreateListFromSuggestedFileTags.py
archive/tkCreateSpacer.py
archive/UI mockup.xlsx
archive/diacritics.json
archive/timecode_patterns.json
log/usage_statistics.json
Original files/Goldberg Variations for recorder Quintet-rkx1GJ0uTuU.mp3
testing.py
